@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        font-family: "Open Sans", "sans-serif";
    }

    h1 {
        @apply text-lg;
    }

    label {
        @apply text-gray-400;
    }

    .hide-scrollbar {
        -ms-osverflow-style: none;
        scrollbar-width: none;
    }
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@layer components {
    .btn {
        @apply text-white font-bold rounded-full shadow-btn disabled:bg-gray-100 disabled:shadow-none disabled:pointer-events-none;
    }
    .input-control {
        @apply flex flex-col max-w-input;
    }

    .modal-text {
        @apply text-base font-semibold text-gray-300;
    }
    .home-section {
        @apply relative px-5 p-7 bg-white rounded h-section;
    }
    .condition-tag {
        @apply text-purple-500 font-semibold text-xs text-center rounded bg-purple-50 px-[6px] py-[1px] my-4 uppercase;
    }
    .circle-letter {
        @apply bg-purple-500 text-white font-bold text-xs  mr-2.5 rounded-full px-5 py-3.5 shadow-btn;
    }

    /* Base for all inputs */
    .base-input {
        @apply border border-gray-100 rounded focus:outline-purple-400 focus:outline-1;
    }

    /* Input Styles for inputs & their labels */
    .form-input-style input {
        @apply base-input mb-1 p-5 text-base placeholder:text-gray-200 font-semibold;
    }

    /* .listing-input-style input,
    .listing-input-style textarea {
        @apply base-input px-5 py-[18px] text-xs placeholder:text-[#2a2e43]/50 ;
    } */
    .listing-input {
        @apply base-input px-5 py-[18px] text-xs placeholder:text-[#2a2e43]/50 text-gray-700;
    }

    /* .listing-input-style label {
        @apply mb-2.5 text-gray-700 font-normal;
    } */

    .listing-input-style li {
        @apply text-xs;
    }

    .listing-select-btn {
        @apply px-5 py-4 text-xs text-gray-700;
    }
    .select-btn {
        @apply font-semibold text-base text-gray-500;
    }
}
