/* Styling for react-toastify toast: 
- increase width
- move toast to appear below the navbar
*/
.Toastify__toast-container--top-right {
    top: 200px;
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
}
